.addButton .button{
    color:#FB2576;
    font-size: 30px;
    background-color: whitesmoke;
    border-radius: 100%;
    padding: 10px;
    float: right;
    margin-top: 2%; 
    margin-right: 22%;
}