.greetings {
  width: 94%;
  margin: auto;
  margin-top: 1.5%;
}
.greetings p {
  color: #ffffff;
  font-family: cursive;
  font-size: 13px;
}
.text-box input {
  height: 50px;
  width: 50%;
  padding-left: 3%;
  border: 4px solid #0002a1;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
    color: #260ebe;

}
.text-box {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
::placeholder {
  font-size: 24px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #260ebe;
  font-weight: 700;

}
.text-box button{
    font-size: 25px;
    font-weight: 700;
    padding: 1% 2%;
    border-radius: 30px;
    background-color:#0002A1 ;
    color: #ffffff;
    border: 0;
    cursor: pointer;

}
.text-box button:hover{
      transition: 0.4s;
          background-color:#0003a1a1 ;


}
@media only screen and (max-width: 500px){
.greetings{
  margin-top: 5%;
}
.greetings p{
  font-size: 10px;
  margin-bottom: 5%;
}
.text-box input{
   height: 40px;
  width: 60%;
  font-size: 18px;
}
.text-box{
  width: 70%;
  justify-content: space-evenly;
}
::placeholder{
  font-size:15px;
}
.text-box button{
  font-size: 20px;
      padding: 3% 5%;

}
}